zip-lookup {
    ion-item {
        padding-left: 0 !important;
    }
    .zip-lookup {
        ion-item,
        button {
            display: inline-block;
        }
        ion-item {
            width: calc(100% - 61px);
        }
        button {
            float: right;

            width: 45px;
            margin-top: 16px;
            &.button-md {
                width: 36px;
                margin-top: 26px;
                ion-icon {
                    font-size: 2rem;
                }
            }
            ion-icon {
                font-size: 4rem;
            }
        }
    }
}
