inventory-master-search {
    .search-results {
        a {
            font-size: 1.4rem;

            float: right;
        }
    }
    ion-col {
        p {
            white-space: normal;
        }
    }
}
