special-instructions {
    textarea {
        min-height: 200px;
    }
    ion-item {
        padding-left: 0 !important;
    }
    .text-length {
        float: right;
    }
    ion-list {
        margin-bottom: 0 !important;
    }
}
