promotions {
    ion-item {
        padding-left: 0 !important;
    }
    .divider {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 50px;
        margin-bottom: 25px;

        opacity: 0.45;
        p {
            z-index: 2;

            padding: 0 16px;

            background-color: #fff;
        }
        hr {
            position: absolute;
            top: 16px;

            display: block;
            clear: both;

            width: 100%;

            border-bottom: solid 1px color($colors, dark, base);
        }
    }
    input[type='text'] {
        text-align: right;
    }
    ion-label {
        overflow: visible;
    }
    .form-error {
        margin-left: 0;
    }
}
